@import url(https://fonts.googleapis.com/css?family=Barlow+Condensed:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jost:100,200,300,400,500,600,700,800,900,100i,200i,300i,400i,500i,600i,700i,800i,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);





body {
  font-family: IBM Plex Sans;
}
.display-1 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 5rem;
  line-height: 1.1;
}
.display-1 > .mbr-iconfont {
  font-size: 6.25rem;
}
.display-2 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 3.5rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
}
.display-4 > .mbr-iconfont {
  font-size: 1.375rem;
}
.display-5 {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 2rem;
  line-height: 1.5;
}
.display-5 > .mbr-iconfont {
  font-size: 2.5rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}
.display-7 > .mbr-iconfont {
  font-size: 1.5rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 992px) {
  .display-1 {
    font-size: 4rem;
  }
}
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.8rem;
    font-size: calc( 1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.3 * (1.875rem + (3.5 - 1.875) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.88rem;
    font-size: calc( 1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.0350000000000001rem + (1.1 - 1.0350000000000001) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 0.96rem;
    font-size: calc( 1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.07rem + (1.2 - 1.07) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-sm {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-md {
  padding: 0.6rem 1.2rem;
  border-radius: 4px;
}
.btn-lg {
  padding: 1rem 2.6rem;
  border-radius: 4px;
}
.bg-primary {
  background-color: #e43f3f !important;
}
.bg-success {
  background-color: #40b0bf !important;
}
.bg-info {
  background-color: #47b5ed !important;
}
.bg-warning {
  background-color: #ffe161 !important;
}
.bg-danger {
  background-color: #ffb18a !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b31919 !important;
  border-color: #b31919 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #ff0f0f !important;
  border-color: #ff0f0f !important;
}
.btn-info,
.btn-info:active {
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #148cca !important;
  border-color: #148cca !important;
}
.btn-success,
.btn-success:active {
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #2a747e !important;
  border-color: #2a747e !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
  color: #614f00 !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #0a0800 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #614f00 !important;
  background-color: #ffd10a !important;
  border-color: #ffd10a !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #ff7733 !important;
  border-color: #ff7733 !important;
}
.btn-white,
.btn-white:active {
  background-color: #fafafa !important;
  border-color: #fafafa !important;
  color: #7a7a7a !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #4f4f4f !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-white.disabled,
.btn-white:disabled {
  color: #7a7a7a !important;
  background-color: #cfcfcf !important;
  border-color: #cfcfcf !important;
}
.btn-black,
.btn-black:active {
  background-color: #232323 !important;
  border-color: #232323 !important;
  color: #ffffff !important;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #e43f3f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #b31919 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  border-color: #e43f3f !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ff6666;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ff0f0f !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff6666 !important;
  border-color: #ff6666 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #47b5ed;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #148cca !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #47b5ed !important;
  border-color: #47b5ed !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #40b0bf;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #2a747e !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #40b0bf !important;
  border-color: #40b0bf !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffe161;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffd10a !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #614f00 !important;
  background-color: #ffe161 !important;
  border-color: #ffe161 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #ffb18a;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ff7733 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #ffb18a !important;
  border-color: #ffb18a !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #232323;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #000000 !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #232323 !important;
  border-color: #232323 !important;
}
.btn-white-outline,
.btn-white-outline:active {
  background-color: transparent !important;
  border-color: transparent;
  color: #fafafa;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline.active {
  color: #cfcfcf !important;
  background-color: transparent!important;
  border-color: transparent!important;
  box-shadow: none!important;
}
.btn-white-outline.disabled,
.btn-white-outline:disabled {
  color: #7a7a7a !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}
.text-primary {
  color: #e43f3f !important;
}
.text-secondary {
  color: #ff6666 !important;
}
.text-success {
  color: #40b0bf !important;
}
.text-info {
  color: #47b5ed !important;
}
.text-warning {
  color: #ffe161 !important;
}
.text-danger {
  color: #ffb18a !important;
}
.text-white {
  color: #fafafa !important;
}
.text-black {
  color: #232323 !important;
}
a.text-primary:hover,
a.text-primary:focus,
a.text-primary.active {
  color: #a61717 !important;
}
a.text-secondary:hover,
a.text-secondary:focus,
a.text-secondary.active {
  color: #ff0000 !important;
}
a.text-success:hover,
a.text-success:focus,
a.text-success.active {
  color: #266a73 !important;
}
a.text-info:hover,
a.text-info:focus,
a.text-info.active {
  color: #1283bc !important;
}
a.text-warning:hover,
a.text-warning:focus,
a.text-warning.active {
  color: #facb00 !important;
}
a.text-danger:hover,
a.text-danger:focus,
a.text-danger.active {
  color: #ff6d24 !important;
}
a.text-white:hover,
a.text-white:focus,
a.text-white.active {
  color: #c7c7c7 !important;
}
a.text-black:hover,
a.text-black:focus,
a.text-black.active {
  color: #000000 !important;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]) {
  position: relative;
  background-image: transparent;
  background-size: 10000px 2px;
  background-repeat: no-repeat;
  background-position: 0px 1.2em;
  background-position: -10000px 1.2em;
}
a[class*="text-"]:not(.nav-link):not(.dropdown-item):not([role]):hover {
  transition: background-position 2s ease-in-out;
  background-image: linear-gradient(currentColor 50%, currentColor 50%);
  background-position: 0px 1.2em;
}
.nav-tabs .nav-link.active {
  color: #e43f3f;
}
.nav-tabs .nav-link:not(.active) {
  color: #232323;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #47b5ed;
}
.alert-warning {
  background-color: #ffe161;
}
.alert-danger {
  background-color: #ffb18a;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e43f3f;
  border-color: #e43f3f;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #e43f3f;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fdf2f2;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #a0d8df;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
.form-control:hover,
.form-control:focus {
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px 0px, rgba(0, 0, 0, 0.07) 0px 1px 3px 0px, rgba(0, 0, 0, 0.03) 0px 0px 0px 1px;
  border-color: #e43f3f !important;
}
.form-control:-webkit-input-placeholder {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  font-weight: 400;
}
.form-control:-webkit-input-placeholder > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #e43f3f;
}
/* Forms */
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e43f3f;
  color: #ffffff;
}
.jq-number__spin {
  transition: 0.25s ease;
}
.jq-number__spin:hover {
  border-color: #e43f3f;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: #353535;
  border-bottom-color: #353535;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e43f3f;
  border-bottom-color: #e43f3f;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e43f3f !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #ff6666 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e43f3f' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-snoeOO2WAC {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-slERmdvvEL {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-color: #e8eae3;
}
.cid-slERmdvvEL .mbr-section-title {
  text-align: center;
  color: #373833;
}
.cid-slERmdvvEL .mbr-section-subtitle {
  text-align: center;
  color: #373833;
}
.cid-slERmdvvEL .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-sm7JzXWUXD {
  padding-top: 2rem;
  padding-bottom: 1rem;
  background-color: #f4f1ec;
}
.cid-sm7JzXWUXD .image-wrap img {
  width: 100%;
  dropshadow: 0 2px 2px white;
}
@media (min-width: 992px) {
  .cid-sm7JzXWUXD .image-wrap img {
    display: block;
    margin: auto;
    width: 100%;
  }
}
.cid-sm7JzXWUXD .mbr-text,
.cid-sm7JzXWUXD .mbr-section-btn {
  color: #232323;
  text-align: center;
}
.cid-sm7JzXWUXD .mbr-section-title {
  color: #232323;
  size: 3em;
  text-align: center;
}
.cid-sm7JzXWUXD .boldtype {
  font-weight: 700;
}
.cid-sntsRpDLHv {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sntsRpDLHv .card-wrapper {
  background: #4479d9;
  border-radius: 4px;
}
@media (max-width: 767px) {
  .cid-sntsRpDLHv .card-wrapper {
    padding: 1rem;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .cid-sntsRpDLHv .card-wrapper {
    padding: 2rem;
  }
}
@media (min-width: 992px) {
  .cid-sntsRpDLHv .card-wrapper {
    padding: 4rem;
  }
}
.cid-sntsRpDLHv .mbr-text,
.cid-sntsRpDLHv .mbr-section-btn {
  color: #ffffff;
}
.cid-sntsRpDLHv .card-title,
.cid-sntsRpDLHv .card-box {
  text-align: left;
}
.cid-sno8SQ8E05 {
  padding-top: 2rem;
  padding-bottom: 0rem;
  background-color: #f4f1ec;
}
.cid-sno8SQ8E05 .card-wrapper {
  display: flex;
}
@media (max-width: 991px) {
  .cid-sno8SQ8E05 .card-wrapper {
    margin-bottom: 2rem;
  }
}
.cid-sno8SQ8E05 .mbr-iconfont {
  font-size: 2rem;
  color: #6592e6;
  padding-right: 1.5rem;
}
.cid-sno8SQ8E05 .card-title {
  color: #212121;
}
.cid-sno8SQ8E05 .card-text {
  color: #212121;
}
.cid-smYnmp1vmJ {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f4f1ec;
}
.cid-smYnmp1vmJ img,
.cid-smYnmp1vmJ .item-img {
  width: 100%;
}
.cid-smYnmp1vmJ .item:focus,
.cid-smYnmp1vmJ span:focus {
  outline: none;
}
.cid-smYnmp1vmJ .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-smYnmp1vmJ .item-wrapper {
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .cid-smYnmp1vmJ .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-smYnmp1vmJ .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-smYnmp1vmJ .mbr-section-btn {
  margin-top: auto !important;
}
.cid-smYnmp1vmJ .mbr-section-title {
  color: #232323;
  text-align: center;
}
.cid-smYnmp1vmJ .mbr-text,
.cid-smYnmp1vmJ .mbr-section-btn {
  text-align: left;
  color: #212529;
}
.cid-smYnmp1vmJ .item-title {
  text-align: center;
  color: #212529;
}
.cid-smYnmp1vmJ .item-subtitle {
  text-align: center;
}
.cid-smYnmp1vmJ .mbr-section-subtitle {
  color: #212529;
}
.cid-slERmfHaJQ {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #212121;
}
.cid-slERmfHaJQ .carousel-item {
  justify-content: center;
}
.cid-slERmfHaJQ .carousel-item.active,
.cid-slERmfHaJQ .carousel-item-next,
.cid-slERmfHaJQ .carousel-item-prev {
  display: flex;
}
.cid-slERmfHaJQ .carousel-controls a {
  transition: opacity .5s;
  font-size: 30px;
  position: absolute;
  top: 180px;
  bottom: auto;
  height: 60px;
  width: 60px;
  padding: 10px;
  color: #155ce0;
}
.cid-slERmfHaJQ .carousel-controls a .mbr-iconfont {
  font-weight: 800;
}
.cid-slERmfHaJQ .carousel-control-next span {
  padding-left: 5px;
}
.cid-slERmfHaJQ .carousel-control-prev span {
  padding-right: 5px;
}
.cid-slERmfHaJQ .user_image {
  width: 200px;
  height: 200px;
  margin-bottom: 1.6rem;
  overflow: hidden;
  border-radius: 50%;
  margin: 0 auto 2rem auto;
}
.cid-slERmfHaJQ .user_image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
}
@media (max-width: 230px) {
  .cid-slERmfHaJQ .user_image {
    width: 100%;
    height: auto;
  }
}
.cid-slERmfHaJQ H3 {
  color: #fff0b0;
}
.cid-slERmfHaJQ .user_text {
  color: #fff0b0;
  text-align: left;
}
.cid-slERmfHaJQ .user_name {
  color: #fff0b0;
}
.cid-slERmfHaJQ .user_desk {
  color: #fff0b0;
}
.cid-smY5CpPF4r {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f4f1ec;
}
.cid-smY5CpPF4r .social-row .soc-item {
  display: inline-block;
  text-align: center;
  margin-bottom: 1rem;
  margin-right: .7rem;
}
.cid-smY5CpPF4r .social-row .soc-item .mbr-iconfont {
  font-size: 32px;
  border-radius: 50%;
  padding: 0.6rem;
  border: 2px solid #232323;
  transition: all 0.3s;
  color: #232323;
}
.cid-smY5CpPF4r .social-row .soc-item .mbr-iconfont:hover {
  background-color: #232323;
  color: #ffffff;
}
.cid-smY5CpPF4r .tito-wrapper {
  background: rgba(0, 0, 0, 0.02);
  font-family: sans-serif;
  color: #333;
  margin: 20px auto;
  max-width: 900px;
  padding: 10px 0 0 0;
  width: 100%;
}
.cid-smY5CpPF4r .tito-ticket-list {
  display: block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.cid-smY5CpPF4r #tito-previous-releases,
.cid-smY5CpPF4r .tito-ticket-list.tito-ticket-waitlist {
  margin: 0;
}
.cid-smY5CpPF4r .tito-ticket.row {
  display: block !important;
  margin: 0 15px !important;
  min-height: 54px !important;
  padding: 10px 0 !important;
}
.cid-smY5CpPF4r .tito-ticket:after {
  content: '';
  display: table;
  clear: both;
}
.cid-smY5CpPF4r .tito-ticket-name-wrapper,
.cid-smY5CpPF4r .tito-ticket-price-quantity-wrapper {
  border: none;
  display: block;
  float: left;
  vertical-align: middle;
  width: 100%;
}
@media screen and (min-width: 520px) {
  .cid-smY5CpPF4r .tito-ticket-name-wrapper,
  .cid-smY5CpPF4r .tito-ticket-price-quantity-wrapper {
    width: 50%;
  }
  .cid-smY5CpPF4r .tito-ticket-price-quantity {
    float: right;
  }
  .cid-smY5CpPF4r .tito-ticket-price {
    text-align: right;
    width: auto;
  }
  .cid-smY5CpPF4r .tito-discount-code {
    float: left;
  }
  .cid-smY5CpPF4r input.form-control.tito-discount-code-field.discount-code-field {
    width: 200px !important;
  }
  .cid-smY5CpPF4r .tito-submit {
    width: 100px !important;
  }
}
.cid-smY5CpPF4r .tito-ticket-name {
  display: block;
  font-family: spartan;
  padding: 10px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
  margin: 8px 0 5px;
}
.cid-smY5CpPF4r .tito-ticket-name .label.label-default {
  border: 1px solid #333 !important;
  border-radius: 2px !important;
  color: #333 !important;
  font-size: 10px !important;
  font-weight: bold !important;
  margin-left: 5px !important;
  padding: 2px 5px !important;
  position: relative !important;
  top: -1px !important;
  text-transform: uppercase !important;
}
.cid-smY5CpPF4r .tito-ticket-name-wrapper .tito-tickets-remaining {
  background: #ddd;
  border: 1px solid rgba(51, 51, 51, 0.2);
  color: #333;
  font-size: 10px;
  padding: 2px 5px;
  position: relative;
  top: -3px;
  margin-left: 10px;
  white-space: nowrap;
}
.cid-smY5CpPF4r .tito-ticket-description {
  color: #adadad;
  font-size: 12px;
  text-align: left;
}
.cid-smY5CpPF4r .tito-degressive-price-desc + .tito-ticket-description {
  margin-top: 0.5rem;
}
.cid-smY5CpPF4r .tito-ticket-price-quantity {
  text-align: right;
  width: auto;
}
.cid-smY5CpPF4r .tito-ticket-price {
  float: left;
  text-align: left;
  width: 50%;
}
.cid-smY5CpPF4r .tito-ticket-quantity {
  float: right;
  min-width: 70px;
}
.cid-smY5CpPF4r .tito-ticket-quantity span {
  margin: 0 10px;
}
.cid-smY5CpPF4r input[type=text].tito-ticket-quantity-field,
.cid-smY5CpPF4r input[type=text].tito-ticket-donation-field {
  background-color: #fff !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  color: #333 !important;
  display: inline-block !important;
  font-size: 14px !important;
  height: 34px !important;
  line-height: 1.42857143 !important;
  margin: 0 !important;
  padding: 6px 12px !important;
  text-align: center !important;
}
.cid-smY5CpPF4r input[type=text].tito-ticket-quantity-field {
  width: 45px !important;
}
.cid-smY5CpPF4r input[type=text].tito-ticket-donation-field {
  width: 85px !important;
  margin-left: 6px !important;
}
.cid-smY5CpPF4r .tito-ticket-price span {
  display: block;
  font-size: 16px;
  line-height: 34px;
}
.cid-smY5CpPF4r .tito-ticket-vat {
  color: #adadad;
  font-size: 10px;
  padding-bottom: 5px;
}
.cid-smY5CpPF4r .tito-ticket-status span {
  background: #efefef;
  border-radius: 4px;
  color: #adadad;
  display: inline-block;
  font-size: 14px;
  height: 34px;
  line-height: 34px;
  min-width: 90px;
  padding: 0 10px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}
.cid-smY5CpPF4r .btn.btn-default.btn-waitlist {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 4px !important;
  color: #333;
  font-size: 14px !important;
  height: 34px !important;
  line-height: 1.42857143 !important;
  padding: 6px 12px !important;
  white-space: nowrap !important;
  width: 200px;
}
.cid-smY5CpPF4r .btn.btn-default.btn-waitlist:hover {
  border: 1px solid #333333;
}
.cid-smY5CpPF4r .tito-discount-code {
  display: block;
  margin: 0 30px;
  padding: 5px 0;
}
.cid-smY5CpPF4r .tito-discount-code-label {
  display: none;
}
.cid-smY5CpPF4r .btn.btn-default.tito-discount-apply-button {
  display: none !important;
}
.cid-smY5CpPF4r .tito-discount-code .tab-pane.tito-discount-code-show.active {
  display: none !important;
}
.cid-smY5CpPF4r .tito-discount-code .tab-pane.tito-discount-code-edit {
  display: block !important;
  visibility: visible !important;
}
.cid-smY5CpPF4r input.form-control.tito-discount-code-field.discount-code-field {
  background: #fff !important;
  border: 1px solid #ccc !important;
  border-radius: 4px !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075) !important;
  display: inline-block !important;
  font-size: 14px !important;
  height: 34px !important;
  line-height: 1.42857143 !important;
  margin: 5px 0 !important;
  padding: 6px 12px !important;
  width: 100% !important;
}
.cid-smY5CpPF4r .tito-discount-code-show {
  padding-top: 15px;
}
.cid-smY5CpPF4r .tito-discount-code-edit,
.cid-smY5CpPF4r .tito-discount-code-show {
  display: none;
}
.cid-smY5CpPF4r .tito-discount-code-edit.active,
.cid-smY5CpPF4r .tito-discount-code-show.active {
  display: inline-block;
}
.cid-smY5CpPF4r .tito-submit-wrapper {
  padding: 10px 0;
  text-align: right;
  background-color: transparent;
}
.cid-smY5CpPF4r .tito-submit {
  background: #FFF583 !important;
  border: 1px solid #FFF583 !important;
  border-radius: 4px !important;
  color: #ffffff;
  cursor: pointer !important;
  font-size: 30px;
  height: 50px !important;
  line-height: 1.42857143 !important;
  margin: 0 !important;
  padding: 6px 12px !important;
  text-align: center !important;
  width: 100% !important;
  font-weight: 800;
  font-family: 'Spartan', sans-serif;
  background-color: #FFF583;
  border-color: #FFF583;
  box-shadow: 0 8px 8px grey;
}
.cid-smY5CpPF4r .tito-submit:hover {
  border-color: yellow !important;
  background: #FFF583 !important;
}
.cid-smY5CpPF4r .tito-ticket.tito-locked-ticket > div {
  padding: 10px 0 !important;
}
.cid-smY5CpPF4r .tito-ticket.tito-locked-ticket label,
.cid-smY5CpPF4r .tito-ticket.tito-locked-ticket span {
  opacity: 0.5 !important;
}
.cid-smY5CpPF4r .tito-locked-tickets-message p {
  font-size: 14px !important;
  line-height: 1.3 !important;
  opacity: 0.5 !important;
}
.cid-smY5CpPF4r .tito-badge-link {
  font-size: 12px;
  display: none;
  margin: 15px 0 5px;
  text-align: center;
  width: 100%;
}
.cid-smY5CpPF4r .main-card.additional-info .additional-info-description > h2,
.cid-smY5CpPF4r .main-card.additional-info .schedule-description > h2,
.cid-smY5CpPF4r .main-card.schedule .additional-info-description > h2,
.cid-smY5CpPF4r .main-card.schedule .schedule-description > h2 {
  DISPLAY: NONE;
}
.cid-smY5CpPF4r .markdown p img {
  max-width: 100%;
  margin-top: 5%;
  border: 1px solid lightgrey;
  box-shadow: inset -1px -1px 4px 7px lightgrey;
}
.cid-smY5CpPF4r .main-card.additional-info.main-card--has-banner,
.cid-smY5CpPF4r .main-card.additional-info.main-card--no-banner,
.cid-smY5CpPF4r .main-card.schedule.main-card--has-banner,
.cid-smY5CpPF4r .main-card.schedule.main-card--no-banner {
  margin-top: 9rem;
  box-shadow: 0 2px 4px grey;
}
.cid-smY5CpPF4r .tito-wrapper .tito-ticket-list {
  background: #fff;
  list-style-type: none;
  margin: 0;
  padding: 0;
  box-shadow: 0 2px 4px grey;
}
.cid-smY5CpPF4r .main-card .main-card--basic-info {
  background: #fff;
  box-shadow: 0px 2px 4px grey;
  margin-left: -30px;
  margin-right: -30px;
  padding-top: 15px;
  padding-bottom: 60px;
  border-radius: 0 0 5px 5px;
}
.cid-smY5CpPF4r .title-level1 {
  background: transparent;
}
.cid-smY5CpPF4r .main {
  margin-bottom: -30px;
  max-width: 100%;
  padding: 0 0 10px 0;
  perspective: 1000;
  -webkit-perspective: 1000;
  width: 100%;
  background-color: lightgrey;
}
.cid-smY5CpPF4r .main-card .event-description.markdown {
  font-size: 18px;
  font-weight: 100;
  line-height: 34px;
  text-align: center;
}
.cid-smY5CpPF4r .event-links {
  display: none;
}
.cid-smY5CpPF4r .main-footer {
  display: none;
}
.cid-smY5CpPF4r * {
  box-sizing: border-box;
  border-radius: 5px;
}
.cid-smY5CpPF4r .banner img {
  padding: 0;
  border-radius: 0 0 0 0;
}
.cid-smY5CpPF4r h1,
.cid-smY5CpPF4r h2,
.cid-smY5CpPF4r h3,
.cid-smY5CpPF4r h4,
.cid-smY5CpPF4r h5,
.cid-smY5CpPF4r h6,
.cid-smY5CpPF4r .h1,
.cid-smY5CpPF4r .h2,
.cid-smY5CpPF4r .h3,
.cid-smY5CpPF4r .h4,
.cid-smY5CpPF4r .h5,
.cid-smY5CpPF4r .h6 {
  font-family: "myriad-pro", myriad-pro, myriad, sans-serif !important;
}
.cid-smY5CpPF4r body {
  width: 100%;
  max-width: 100%;
  background: #ffffff;
  border-radius: 5% 5% 5% 5%;
  padding: 0%;
}
.cid-smY5CpPF4r .fullimage {
  max-width: 100%;
  width: 100%;
}
.cid-smY5CpPF4r img {
  max-width: 100%;
}
.cid-smY5CpPF4r p {
  font-size: 1.2rem;
  font-weight: 500;
}
.cid-smY5CpPF4r .card__container {
  width: 100%;
  background: #fff;
  box-shadow: -5px -5px 5px 5px rgba(0, 0, 0, 0.16), 0 13px 6px rgba(0, 0, 0, 0.23);
  border-radius: 5px;
  transition: all .2s;
}
.cid-smY5CpPF4r .card__container:hover {
  box-shadow: 10px 11px 3px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.cid-smY5CpPF4r .card__image img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}
.cid-smY5CpPF4r .card__body {
  position: relative;
  padding: 1;
  border-radius: 30px;
  text-align: center;
  min-height: 105px;
}
.cid-smY5CpPF4r .card__body__wrapper {
  position: absolute;
  border-radius: 10px;
  top: -12px;
  left: 0px;
  z-index: 1;
}
.cid-smY5CpPF4r .card__body__wrapper:before {
  position: absolute;
  top: -8px;
  left: -25px;
  content: "";
  display: block;
  width: 76px;
  height: 26px;
  background-position: right top;
  background-repeat: no-repeat;
  background-size: 76px auto;
  clip: rect(0px, 76px, 26px, 10px);
  z-index: 0;
}
.cid-smY5CpPF4r .card__body__wrapper--source {
  position: relative;
  display: block;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 26px auto;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  z-index: 1;
  top: -1px;
}
.cid-smY5CpPF4r .card__body__heading {
  font-weight: 500;
  color: #5f6368;
  font-size: .95rem;
  line-height: 24px;
  padding: 5%;
  text-align: justify;
  text-justify: inter-word;
}
.cid-smY5CpPF4r .faq-section {
  background: #fdfdfd;
  min-height: 100vh;
  padding: 10vh 0 0;
}
.cid-smY5CpPF4r .faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
}
.cid-smY5CpPF4r .faq-title h2::before {
  content: "";
  position: absolute;
  left: 50%;
  width: 60px;
  height: 2px;
  background: #E91E63;
  bottom: -25px;
  margin-left: -30px;
}
.cid-smY5CpPF4r .faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.cid-smY5CpPF4r .faq {
  background: #FFFFFF;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
}
.cid-smY5CpPF4r .faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed #FE4560;
}
.cid-smY5CpPF4r .faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}
.cid-smY5CpPF4r .faq .card .card-header:hover {
  background: rgba(233, 30, 99, 0.1);
  padding-left: 10px;
}
.cid-smY5CpPF4r .faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 1px;
  color: #3B566E;
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}
.cid-smY5CpPF4r .faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: #FE4560;
  color: #fff;
  font-size: 12px;
  margin-right: 20px;
}
.cid-smY5CpPF4r .faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #6F8BA4;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}
.cid-smY5CpPF4r .card2 {
  padding: 10px;
  height: 250px;
  border: 1px solid grey;
  -webkit-box-shadow: 0px 1px 9px 3px #dbd2db;
  -moz-box-shadow: 0px 1px 9px 3px #dbd2db;
  box-shadow: 0px 1px 9px 3px #dbd2db;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-smY5CpPF4r .thedate {
  text-align: center;
}
.cid-smY5CpPF4r .ticket-type-header h4 {
  font-size: 1.6rem;
  margin: 0;
  display: none;
}
.cid-smY5CpPF4r .order-title.your-receipt,
.cid-smY5CpPF4r .your-receipt.consent-title,
.cid-smY5CpPF4r .order-title.ticket-overview,
.cid-smY5CpPF4r .ticket-overview.consent-title {
  margin-bottom: 0;
  display: none;
}
.cid-smY5CpPF4r .order-ticket.complete {
  display: none;
}
.cid-smY5CpPF4r .order-ticket.complete .status {
  background: grey;
  color: black;
}
.cid-smY5CpPF4r .release-notes {
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  color: black;
  font-size: 1.6rem;
}
.cid-smY5CpPF4r div.row.order-title.share-footer {
  display: none;
}
.cid-smY5CpPF4r .floating-card {
  box-shadow: 0 0 8px;
}
.cid-smY5CpPF4r .ticket-flow-progress .flow-progress-label.done {
  color: #FFF583;
  box-shadow: 0 2px 2px grey;
}
.cid-smY5CpPF4r .alert-header {
  border-bottom: 1px solid #808080;
  margin: 0;
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  border-radius: 5px;
  text-align: center;
  font-size: 2.8rem;
  background-color: #808080;
  border: 1px solid #808080;
  color: white;
}
.cid-smY5CpPF4r .event-header h2 {
  border-radius: 5px 5px 0 0;
  margin: 0;
  text-align: center;
  padding: 0 5rem;
  font-size: 2rem;
  content: url(https://i.imgur.com/E36GAcDm.png);
  width: 100%;
}
.cid-smY5CpPF4r .event-header {
  border-radius: 5px 5px 0 0;
  margin: -1.5rem;
  margin-bottom: 0rem;
  background: #808080;
}
.cid-smY5CpPF4r .btn-primary {
  color: #232323;
  font-size: 30px;
  font-weight: 800;
  font-family: spartan;
  background-color: #FFF583;
  border-color: yellow;
  box-shadow: 0 8px 8px grey;
  text-transform: uppercase;
  content: url(https://i.imgur.com/E36GAcDm.png);
}
.cid-smY5CpPF4r .mbr-section-title {
  color: #000000;
}
.cid-slXwSdQ45t {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #f4f1ec;
}
.cid-slXwSdQ45t img,
.cid-slXwSdQ45t .item-img {
  width: 100%;
  height: 100%;
  height: 300px;
  object-fit: cover;
}
.cid-slXwSdQ45t .item:focus,
.cid-slXwSdQ45t span:focus {
  outline: none;
}
.cid-slXwSdQ45t .item-wrapper {
  border: 1px solid white;
  position: relative;
  border-radius: 8px;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
}
@media (min-width: 992px) {
  .cid-slXwSdQ45t .item-wrapper .item-content {
    padding: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-slXwSdQ45t .item-wrapper .item-content {
    padding: 1rem;
  }
}
.cid-slXwSdQ45t .item {
  cursor: pointer;
  margin-bottom: 2rem;
}
.cid-slXwSdQ45t .mbr-section-btn {
  margin-top: auto !important;
}
.cid-slXwSdQ45t .mbr-section-title {
  color: #000000;
  text-align: center;
}
.cid-slXwSdQ45t .mbr-text,
.cid-slXwSdQ45t .mbr-section-btn {
  text-align: left;
  color: #232323;
}
.cid-slXwSdQ45t .item-title {
  text-align: center;
  color: #000000;
}
.cid-slXwSdQ45t .item-subtitle {
  text-align: center;
}
.cid-slXwSdQ45t .mbr-section-subtitle {
  color: #353535;
}
.cid-sntDAXuMpr {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-sntDAXuMpr .line {
  background-color: #6592e6;
  align: center;
  height: 2px;
  margin: 0 auto;
}
.cid-snoeOO2WAC {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-snoeOO2WAC {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #232323;
}
.cid-snqE0NOs5m {
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #ffffff;
}
.cid-snqE0NOs5m html,
.cid-snqE0NOs5m body {
  margin: 0;
  padding: 0;
}
.cid-snqE0NOs5m .section {
  width: 100%;
}
.cid-snqE0NOs5m .container {
  position: relative;
  width: 1170px;
  margin: 0 auto;
  color: #444;
  font-size: 14px;
  font-weight: 300;
  font-family: Roboto, 'Open Sans', Arial, sans-serif;
  overflow: hidden;
}
.cid-snqE0NOs5m .section .container {
  padding: 30px 0 50px 0;
}
.cid-snqE0NOs5m .section.bg {
  background: #f7f7f7;
}
.cid-snqE0NOs5m .hold {
  height: 80px;
}
.cid-snqE0NOs5m .header {
  line-height: 20px;
  width: 100%;
  transition: line-height 0.2s linear, box-shadow 0.2s linear;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  background: rgba(245, 245, 245, 0.97);
}
.cid-snqE0NOs5m .header.small {
  line-height: 50px;
  box-shadow: 0px 1px 3px 0px rgba(50, 50, 50, 0.8);
}
.cid-snqE0NOs5m .header.small > .container > #logo {
  height: 40px;
}
.cid-snqE0NOs5m #logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: red;
  float: left;
  height: 40px;
  width: 170px;
  margin-left: 5px;
}
.cid-snqE0NOs5m ul.nav {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
.cid-snqE0NOs5m ul.nav li {
  float: left;
  position: relative;
}
.cid-snqE0NOs5m ul.nav li a {
  transition: color 0.2s linear;
  font-size: 18px;
  padding: 21px;
  color: initial;
  text-decoration: initial;
}
.cid-snqE0NOs5m ul.nav li:hover a {
  color: red;
}
.cid-snqE0NOs5m .section .slider,
.cid-snqE0NOs5m .section .footer {
  background: #333;
}
.cid-snqE0NOs5m .slidercontent {
  text-align: center;
}
.cid-snqE0NOs5m .hero {
  font-family: 'Roboto Slab', sans-serif;
  color: white;
  font-weight: normal;
  letter-spacing: 1px;
}
.cid-snqE0NOs5m h1.hero {
  font-size: 54px;
}
.cid-snqE0NOs5m h2.hero {
  font-size: 30px;
  margin-bottom: 60px;
}
.cid-snqE0NOs5m h1.hero:after {
  content: "";
  width: 300px;
  position: relative;
  border-bottom: 1px solid #aaa;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.cid-snqE0NOs5m .call {
  color: white;
  display: block;
  margin-bottom: 20px;
}
.cid-snqE0NOs5m .call span {
  display: inline;
  border: 1px solid white;
  padding: 8px 13px;
  font-size: 20px;
  transition: background 0.15s linear;
}
.cid-snqE0NOs5m .call span:hover {
  background: rgba(255, 255, 255, 0.1);
  cursor: pointer;
}
.cid-snqE0NOs5m .col {
  float: left;
  padding: 0;
  margin: 0;
  position: relative;
}
.cid-snqE0NOs5m .col.four {
  width: 23%;
  margin: 0 1%;
}
.cid-snqE0NOs5m .col.three {
  width: 31.3%;
  margin: 0 1%;
}
.cid-snqE0NOs5m .col.two {
  width: 40%;
  margin: 0 2.5%;
  padding: 0 2.5%;
}
.cid-snqE0NOs5m .col.extrapad {
  padding-top: 20px;
  padding-bottom: 20px;
}
.cid-snqE0NOs5m .col .service,
.cid-snqE0NOs5m .col .feature {
  font-size: 21px;
  font-weight: 300;
  font-family: 'Roboto Slab', sans-serif;
}
.cid-snqE0NOs5m .col .service:after {
  content: "";
  width: 50px;
  position: relative;
  border-bottom: 1px solid #eee;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.cid-snqE0NOs5m .col .feature {
  font-size: 19px;
}
.cid-snqE0NOs5m .col h1.side,
.cid-snqE0NOs5m .col p.side,
.cid-snqE0NOs5m .col span.side:first-of-type {
  margin-left: 50px;
  text-align: left;
}
.cid-snqE0NOs5m .col .icon {
  border-radius: 50%;
  height: 85px;
  width: 85px;
  line-height: 85px;
  text-align: center;
  margin: 0 auto;
  transition: background 0.25s linear, color 0.25s linear;
}
.cid-snqE0NOs5m .col .icon.side {
  position: absolute;
  padding: 0;
  margin: 0;
  top: -15px;
  height: 50px;
  width: 50px;
}
.cid-snqE0NOs5m .col:hover > .icon {
  background: #F44336;
  color: white;
}
.cid-snqE0NOs5m .col:hover > .icon.side {
  background: initial;
  color: initial;
}
.cid-snqE0NOs5m .responsivegroup {
  display: none;
}
.cid-snqE0NOs5m .col p,
.cid-snqE0NOs5m .col h1 {
  padding: 0 1%;
  text-align: center;
}
.cid-snqE0NOs5m .group.margin {
  margin-bottom: 20px;
}
.cid-snqE0NOs5m .col .imgholder {
  height: 300px;
  width: 100%;
  background: #333;
  transition: background 0.3s linear;
}
.cid-snqE0NOs5m .col.bg {
  background: #FFF;
}
.cid-snqE0NOs5m .col.pointer {
  cursor: pointer;
}
.cid-snqE0NOs5m .col.bg:hover .imgholder {
  background: #555;
}
.cid-snqE0NOs5m .col span.feature {
  font-size: 20px;
}
.cid-snqE0NOs5m .container > h1:not(.hero) {
  margin-bottom: 30px;
  text-align: center;
}
.cid-snqE0NOs5m .container > h1:after {
  content: "";
  width: 30px;
  position: relative;
  border-bottom: 1px solid #aaa;
  display: block;
  text-align: center;
  margin: auto;
  margin-top: 15px;
}
.cid-snqE0NOs5m h2 {
  font-family: 'Roboto Slab', sans-serif;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
}
.cid-snqE0NOs5m .left,
.cid-snqE0NOs5m .left > h1,
.cid-snqE0NOs5m .left > p {
  text-align: left;
}
.cid-snqE0NOs5m .reset {
  text-align: left !important;
}
.cid-snqE0NOs5m .reset:after {
  display: none !important;
}
.cid-snqE0NOs5m .white h1,
.cid-snqE0NOs5m .white h2,
.cid-snqE0NOs5m .white p,
.cid-snqE0NOs5m .white div,
.cid-snqE0NOs5m .white a {
  color: #fff;
}
.cid-snqE0NOs5m .group:after {
  content: "";
  display: table;
  clear: both;
}
@media all and (max-width: 768px) {
  .cid-snqE0NOs5m .container {
    width: 95%;
  }
  .cid-snqE0NOs5m .col.four {
    width: 48%;
    margin: 1%;
  }
  .cid-snqE0NOs5m .col.three {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .cid-snqE0NOs5m .header {
    height: auto;
    background: #eee;
  }
  .cid-snqE0NOs5m #logo {
    position: initial;
    float: none;
    display: block;
    transform: none;
    margin: 10px auto 0 auto;
  }
  .cid-snqE0NOs5m ul.nav {
    float: none;
    display: block;
    text-align: center;
    margin: 0 auto;
  }
  .cid-snqE0NOs5m ul.nav li {
    float: initial;
    display: inline-block;
  }
  .cid-snqE0NOs5m .responsivegroup {
    display: block;
  }
  .cid-snqE0NOs5m .responsivegroup:after {
    content: "";
    display: table;
    clear: both;
  }
}
@media all and (min-width: 768px) {
  .cid-snqE0NOs5m .container {
    width: 750px;
  }
}
@media all and (min-width: 992px) {
  .cid-snqE0NOs5m .container {
    width: 970px;
  }
}
@media all and (min-width: 1200px) {
  .cid-snqE0NOs5m .container {
    width: 1170px;
  }
}
@media all and (max-width: 450px) {
  .cid-snqE0NOs5m .col,
  .cid-snqE0NOs5m .col.four,
  .cid-snqE0NOs5m .col.three,
  .cid-snqE0NOs5m .col.two {
    display: block;
    width: 95%;
    padding: 0;
    margin: 0 auto;
    float: none;
  }
  .cid-snqE0NOs5m .col.extrapad {
    padding: 1%;
    margin-bottom: 10px;
  }
  .cid-snqE0NOs5m .group {
    display: none;
  }
}
.cid-snqE0NOs5m H1 {
  color: #22a5e5;
}
